#dernieres-actualites-liste-container {
	width: 950px;
	margin: 0 auto;

	.da-liste {
		padding: 0;
		height: 210px;
		display: flex;
		gap: 5px;

		.da-img {
			width: 350px;
			height: 210px;

			img {
				border-radius: 10px 5px 5px 10px;
				object-fit: cover;
			}
		}

		.da-information-container {
			height: 200px;
			padding: 0;
			display: flex;
			flex-direction: column;

			.da-information {
				width: 100%;
				height: 90%;
				padding: .5rem;

				.da-date-publication {
					font-size: .6rem;
					margin-bottom: .5rem;
				}

				a {
					font-size: 1.3rem;
					line-height: 1.2rem;
					font-weight: 700;
					text-decoration: none;

					&:hover {
						color: var(--couleur-texte-jaune);
					}
				}

				p {
					font-size: .8rem;
				}
			}

			.da-bouton {
				display: flex;
				align-items: end;
				justify-content: end;
				width: 100%;
				height: 20%;
				padding: 0 .5rem;

				.bouton-lire-article {
					display: block;
					width: 170px;
					padding: .1rem 1vw;
					border-radius: 10px;
					margin-top: .5rem;
					background: var(--couleur-orange);
					border: solid 2px var(--couleur-orange);
					text-align: center;
					text-decoration: none;
					font-size:.9rem;
					font-weight: 600;

					&:hover {
						background: var(--couleur-orange-hover);
					}
				}
			}
		}
	}
}


@media screen and (max-width:1080px) {
	#dernieres-actualites-liste-container {
		width: 85%;
	}
}

@media screen and (max-width:762px) and (orientation:portrait) {
	#dernieres-actualites-liste-container {
		width: 95%;
		.da-liste {
			padding: 0;
			height: auto;
			display: flex;
			flex-direction: column;
			gap: 5px;

			.da-img {
				
				width: 100%;
				height: 200px;
	
				img {
					border-radius: 10px 10px 5px 5px;
					width: 100%;
					height: 200px;
					object-fit: cover;
				}
			}
	
			.da-information-container {
				height: auto;
				display: flex;
				flex-direction: column;
	
				.da-information {
					width: 100%;
					padding: .5rem;
	
					h2 {
						font-size: 1.3rem;
					}
	
					p {
						font-size: .8rem;
					}
				}
	
				.da-bouton {
					justify-content: center;
					margin-bottom: .5rem;
					.bouton-lire-article {
						width: 250px;
					}
				}
			}
		}
	}
}