#pied-de-page {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	width: 100%;
	gap: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	p {
		font-size: .8rem;
	}
	a {
		font-size: .8rem;
		display: flex;
		align-items: center;
		text-decoration: none;
		&:hover {
			color: var(--couleur-jaune);
		}
	}
}
