#page-index, #page-liste-dernieres-actualites, #page-liste-blog, #page-contact, #page-connexion, #page-parametres, #page-ajouter-un-article, #page-ajouter-un-blog, #page-article, #page-blog, #page-admin, #page-404 {
	padding-top: 6rem;
}

#page-utilisateur {
	padding-top: 13rem;
} 
