.ldp-min-container-jeu-equipe {
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 0;

	.ldp-card-jeu {
		width: 100%;
		height: 220px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		border-radius: 15px 15px 5px 5px;

		.img-card-jeu {
			width: 100%;
			height: 140px;

			img {
				width: 100%;
				height: 140px;
				border-radius: 15px 15px 5px 5px;
				object-fit: cover;
			}
		}

		.card-jeu-info {
			margin: 0;
			padding: 0.3rem;
			width: 100%;
			height: 80px;
			display: flex;
			flex-direction: row-reverse;
			align-items: flex-start;
			gap: 5px;

			.card-plateforme {
				height: 80px;
				margin-top: -0.3rem;
				display: flex;
				flex-direction: column;
				padding-left: 0.4rem;
				border-left: solid 2px var(--couleur-orange);

				a,
				img {
					width: 40px;
					height: 40px;
				}
			}

			.ldp-container-information {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				width: 100%;
				height: 100%;

				.ldp-container-titre {
					display: flex;
					align-items: flex-start;
					gap: 5px;
					line-height: 1rem;

					img {
						width: 19.2px;
						height: 19.2px;
					}

					a {
						font-size: 1rem;
						font-weight: 700;
						text-decoration: none;

						&:hover {
							color: var(--couleur-jaune-hover);
						}
					}
				}

				.ldp-container-statut-sortie {
					display: flex;
					justify-content: space-between;

					p {
						font-size: 0.7rem;
					}
				}
			}
		}
	}

	.ldp-container-liste-equipe {
		margin-top: .3rem;
		display: flex;
		gap: 5px;
	
		.card-liste-equipe {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 10px;
			border-radius: 5px 5px 15px 15px;
			height: 60px;
			width: 100%;
	
			.a-img-card-equipe {
				width: 50px;
				height: 50px;
				
				img {
					width: 50px;
				}
			}
	
			a {
				font-size: .9rem;
			}
		}
	}
}

