#titre {
	text-align: center;
	margin-bottom: 1rem;
	line-height: 1.5rem;

	h1 {
		font-size: 2rem;

		span {
			font-size: .5em;
		}
	}
}


@media screen and (max-width:1080px) {
  #titre-2 {
    width: 95%;
    margin-left: 0;
  }
}

@media screen and (max-width:750px) and (orientation:portrait) {
	#titre {
    text-align: center;
    width: 95%;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;

		span {
			line-height: .5rem;
		}
	}
}