@import "admin-bouton", "admin-table", "article-contenu", "article-intro", "blog-contenu", "blog-intro", "bouton", "box", "carte-utilisateur", "commentaire", "dernieres-actualites-liste", "editeur-texte", "footer", "form-connexion-inscription", "formulaire", "i-actualites-globales", "i-liste-des-blogs", "liste-des-blogs", "nav", "pu-intro", "pu-description", "pu-liste-des-blogs", "pu-utilisateur-information", "main-page", "titre-page", "voir-plus", "webkit-limite-paragraphe";

:root {
  --background-site: #1a2131;
  --background-noir-transparent: rgba(13, 14, 21, 0.451);
  --background-bleu-fonce: #223449;
  --background-bleu-clair:#2a4e6b;
  --background-bleu-clair2:#57a1cc;
  --background-bleu-clair-hover:#61b2e1;
  --background-banniere:#100F1D;
  --couleur-orange: #ec613c;
  --couleur-orange-hover: #ce5230;
  --couleur-jaune: #fed51b;
  --couleur-jaune-hover: #ffff03;
  --couleur-rouge: #ff0000;
  --couleur-rouge-hover: #bc0000;
  --couleur-texte-noir: #000;
  --couleur-texte-gris : #c8c8c8;
  --couleur-texte-jaune: #fed51b;
  --couleur-texte-rouge: #ff0000;
  --texte-ombre-noir: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-size: 1.2rem;
	color: white;
}

p {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: .9rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.1rem;
}

label, input, select, textarea {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: .9rem;
}

body {
  background: var(--background-site);
}

pre {
  width: 60%;
  margin: 0 auto;
  font-family: monospace;
  font-size: .8rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Voces&display=swap');

@media screen and (max-width:1080px) {
  pre {
    width: 90%;
  }
}

@media screen and (max-width:762px) and (orientation:portrait) {
  pre {
    width: 100%;
  }
}